

 .main-container{
    border: 1px solid  #a7a7a773;
    border-radius: 10px;
    margin-bottom:18%;
    background-color: #FFF;
    padding-top: 30px;
    width: 80%;
}

.identity-container{
   max-width: 90%;
   margin: 0 auto;
}
.identity-heading{
   font-weight: bold;
   text-align: initial;
   font-size: 23px;
}

.es-field{
   color: #827a7a;
   display: flex;
   justify-content: end;
   width: 70%;
   height: 30px;
}


.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.detail-next-btn{
    color: #FFF;
    text-align: center;
    border: 0px;
    background-color: rgb(13, 193, 193) ;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.map-txt{
    text-align: initial;
    margin-bottom: 0;
    color: #827a7a;
}

.id-rq-txt{
    text-align: initial;
    color: #827a7a;
}
.id-sub-txt{
    margin-top: 8px;
    text-align: initial;
}
.map-input-field{
 display: flex;
 justify-content: left;
 margin: 5px;
}
.field-txt{
    width: 70%;
    height: 30px;
}

.fieldone-txt{
    width: 85%;
    height: 30px; 
}
.detail-Edit-btn{
    color: #FFF;
    text-align: center;
    border: 0px;
    background-color: rgb(13, 193, 193) ;
    width: 120px;
    height: 30px;
    margin-bottom: 20px; 
    margin-left: 10px;
}

